* {
    padding: 0;
    margin: 0;
}

.main {
    position: relative;
    font-family: Oswald;
    font-weight: 400;
    display: flex;
    background-image: url(./image/Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1900px;
    height: 1000px;
    color: white;


}


.menu {
    position: absolute;
    display: flex;
    left: 985px;
    top: 72px;
}

.menu-list {
    list-style-type: none;
    margin-right: 59px;
    font-size: 14px;
    letter-spacing: 4px;
}

.title {
    left: 310px;
    top: 383px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    display: block;
    width: 1300px;
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 77px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6px;
}

h2 {
    font-family: 'opensans';
    font-weight: 100;
}


.title span {
    color: #FFF;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.304px;
}

s {
    text-decoration: line-through;
    text-decoration-color: green;
}

#text {
    font-size: 20px;
}

#main-text {
    left: 600px;
    position: absolute;
    top: 550px;
}


.we_are {
    width: 1900px;
    height: 700px;
}


#text4 {
    font-family: 'opensans';
    font-size: 15px;
    position: relative;
    left: 292px;
    bottom: 143px;
}

.img {
    display: inline-block;
    width: 300px;
    height: 390px;
    z-index: 3;
    position: absolute;
}

.img2 {
    display: inline-block;
    width: 300px;
    height: 390px;
    position: relative;
    left: 371px;
    top: 209px;
    z-index: 1;

}

.greenbox {
    display: inline-block;
    width: 350px;
    height: 418px;
    opacity: 0.8;
    background: #4CAF50;
    position: relative;
    right: 185px;
    top: 44px;
    z-index: 2;

}

.we_are {
    position: relative;
}

.first_section {
    top: 150px;
    position: absolute;
    left: 396px;
    width: 1200px;
    height: 600px;
}

.second_title {
    display: block;
    color: black;
    width: 300px;
    position: relative;
    left: -198px;
    top: 271px;
}


#WEARE {
    color: #333;
    font-family: 'Oswald';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.304px;
}

#THESQWD {
    color: #504E4E;
    font-family: OpenSans;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.688px;
}

#text4 {
    color: #5B5858;
    font-family: OpenSans;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.26px;
}

#text5 {
    color: #5B5858;
    font-family: OpenSans;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.26px;
}

.second_title {
    z-index: 4;
}

#WEARE,
#THESQWD {
    position: relative;
    top: 0px;

}

.one {
    position: absolute;
    top: -185px;
    left: 193px;
}


.Our_serv2 {
    width: 1800px;
    height: 690px;
    padding: 0px 50px 0px 50px;
}

.card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 152px 312px 136px 312px;
}

.card {
    height: 260px;
}

.card_list span {
    color: #252525;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin: 50px 0px 0px 44px;
}

.card_list p {
    color: #777;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.008px;
    margin: 49px 35px 43px
}

.third_title {
    color: #252525;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.072px;
    padding: 129px 0px 0px 261px;
}

.rectangle {
    width: 35px;
    height: 2px;
    background-color: #252525;
    margin: 15px 0px 15px 44px;
}

.RM {
    margin: 19px 0px 35px 0px;
}

.img5 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 20px #DBDBDB;
    top: 25px;
    right: -273px;
}

#picture {
    background-image: url(image/graphic-design\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
}

#picture2 {
    background-image: url(image/pencil-case.png);
    background-repeat: no-repeat;
    background-position: center;
}

#picture3 {
    background-image: url(image/coding.png);
    background-repeat: no-repeat;
    background-position: center;
}

.palka {
    width: 45px;
    height: 2px;
    background-color: black;
    margin: 21px 0px 50px 0px;
}

.title_lat {
    color: #252525;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.072px;
}



.latest_works {
    width: 1185px;
    height: 1652px;
    padding: 150px 350px 173px 350px;
}


#menu_list_second {
    display: flex;
    list-style: none;
    color: #252525;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.832px;
}

#for {
    color: #252525;
    font-family: OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.832px;
}

.content {
    width: 584px;
    height: 556px;
    display: inline-block;
}

.list_second {
    margin: 0px 40.5px 0px 0px;
}


#photograghy {
    background-image: url(image/photo.png);
    background-repeat: no-repeat;
    position: relative;
    top: -162px;
    right: -140px;

}



.latest_section h2 {
    color: #252525;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 3.072px;
}

.latest_section h3 {
    color: #252525;
    text-align: right;
    font-family: "opensans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.152px;
}

.latest_section p {
    color: #C2C2C2;
    font-family: "opensans";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.832px;
}

.title_years {
    position: relative;
    top: 283px;
    right: 136px;
}

#text_one {
    text-align: right;
    position: relative;
    top: 367px;
    right: 250px
}

.under {
    position: relative;
    top: 350px;
    right: 250px;
}

#kitty {
    background-image: url(image/cat.png);
    background-repeat: no-repeat;
    position: relative;
    top: 250px;
}

.title_kitty {
    position: relative;
    top: 250px;
    left: 360px;
}

.under2 {
    position: absolute;
    top: 467px;
    left: 174px;
}

#text_two {
    position: absolute;
    top: 512px;
    left: 174px;
    text-align: left;
}

#text_three {
    position: absolute;
    top: 578px;
    left: 174px;
}





#text_three {
    position: absolute;
    top: 578px;
}

#pc {
    background-image: url(image/pc.png);
    background-repeat: no-repeat;
    position: relative;
    top: 36px;
    left: 140px;
}

.title_groove {
    position: absolute;
    top: 266px;
    right: 291px;
    width: 402px;
}

.under3 {
    position: absolute;
    top: 468px;
    left: 227px;
}

.text_four {
    text-align: right;
    position: absolute;
    top: 509px;
    left: 79px;

}


#note {
    background-image: url(image/note.png);
    background-repeat: no-repeat;
    position: relative;
    top: 465px;
}

.title_apple {
    position: absolute;
    top: 268px;
    left: 360px;
    width: 300px;
}

.under4 {
    position: absolute;
    top: 467px;
    left: 174px;
}

.text_five {
    position: absolute;
    top: 512px;
    left: 174px;
}

.team {
    position: relative;
    width: 1800px;
    height: 850px;
    padding: 0px 50px 0px 50px;
}

.card_list2 {
    position: absolute;
    top: 447px;
    left: 366px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 28px;
}

#TOM {
    background-image: url(image/TOM.png);
    background-repeat: no-repeat;
    width: 370px;
    height: 400px;
}

#MICHAEL {
    background-image: url(image/MICHAEL.png);
    background-repeat: no-repeat;
    width: 370px;
    height: 400px;
}

#TIM {
    background-image: url(image/TIM.png);
    background-repeat: no-repeat;
    width: 370px;
    height: 400px;
}

.title_team {
    position: absolute;
    top: 250px;
    left: 315px;
}

.palka2 {
    width: 45px;
    height: 2px;
    background-color: black;
}

.palka3,
.palka6 {
    height: 55px;
    background-color: #FFF;
    opacity: 0.5;
    position: relative;
    top: 343px;
    text-align: center;
}

.TOMJ,
.TIMC {
    padding: 15px 0px 13px 0px;
}

.palka4 {
    position: relative;
    opacity: 0.9244;
    background: #FFF;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 248px
}

.palka5 {
    width: 45px;
    height: 2px;
    background-color: #252525;
}

#TOM,
#MIC,
#TIM,
#CD {
    color: #252525;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.152px;
}

#create {
    color: #777;
    text-align: center;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.008px;
}

.stars {
    display: flex;
    flex-direction: row;
    width: 115px;
    height: 15px;
    top: 500px;
    position: absolute;
    left: 894px;
    justify-content: space-around;
}

.star {
    width: 15px;
    height: 15px;
    background-image: url(image/star.png);
    background-repeat: no-repeat;
}

#star2 {
    width: 15px;
    height: 15px;
    background-image: url(image/star\ copy\ 4.png);
    background-repeat: no-repeat;
}

.section_testi {
    width: 1172px;
    height: 270px;
    padding: 190px 364px 190px 364px;
    position: relative;

}

.text_testi {
    width: 735px;
    text-align: center;
    color: #373737;
    text-align: center;
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.896px;
    padding: 0px 218px 0px 218px;
}

.pic {
    background-image: url(image/quote-hand-drawn-symbol\ \(1\).png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 940px;
    top: 400px;

}

.D {
    padding-top: 80px;
    color: #373737;
    text-align: center;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.152px;
}

.W {
    color: #B8B8B8;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.152px;
}


.contact_works {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #FBFBFB;
    height: 300px;
}

.contact {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #70BD59;
    height: 300px;
}

.text_work {
    margin-bottom: 22px;
    color: #373737;
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.667px;
}

.text_contact {
    margin-bottom: 22px;
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.667px;
}

.text_amaz {
    color: #373737;
    text-align: center;
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.556px;
}

.text_get {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.556px;
}

.pic2 {
    margin-bottom: 19px;
    width: 35px;
    height: 35px;
    background-image: url(image/briefcase.png);
}

.pic3 {
    margin-bottom: 19px;
    width: 35px;
    height: 35px;
    background-image: url(image/mail.png);
}

.footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 339px;
    background-color: #2E2E2E;;
}


.text-foot-top {
    color: #FFF;
    font-family: Oswald;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.832px;
}

.social {
    display: flex;
    flex-direction: row;
    padding-top: 39px;
    margin-right: 21px;
}

.soc {
    width: 32px;
    height: 32px;
}

#facebook {
    background-image: url(image/facebook-logo-in-circular-button-outlined-social-symbol.png);
}

#twitter {
    background-image: url(image/twitter-circular-button.png);
}

#pinterest {
    background-image: url(image/pinterest-logo.png);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Oswald;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.832px;
    background-color: #252525;
    width: 1920px;
    height: 58px;
}